.intro {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 5%;
}

.logo {
  font-size: 20px;
  color: var(--dark-color, #202020);
}


.header {
  display: flex;
  justify-content: space-between;
}

.icons {
  cursor: pointer;
}

.icons-container {
  display: flex;
  gap: 10px;
}

.main {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 84px;
  margin-bottom: 20px;
}

.button {
  font-family: BeauSansRegular;
  padding: 1rem 3rem;
  background-color: #202020;
  color: white;
  cursor: pointer;
  border: none;
  transition: all .2s ease-in-out;
  display: flex;
  align-items: center;
}

.description {
  margin-bottom: 30px;
}

/* ============== CUSTOMIZER ============= */

.customizer {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 5%;
}

.customizer-body {
  width: 100%;
  height: 87%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-options {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgb(238, 238, 238);
  filter: drop-shadow(5px 6px 7px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.color:hover {
  transform: scale(1.2);
}

.button-container {
  display: flex;
  justify-content: center;
}

.decal-options {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.decal {
  cursor: pointer;
}

.decal img {
  width: 50px;
  filter: saturate(0) ; 
  transition: all ease-in 0.2s;
}

.decal img:hover {
  filter: none;
  transform: scale(1.2);
  cursor: pointer;
}

.go-back-button {
  font-family: BeauSansRegular;
  padding: 1rem 3rem;
  background-color: transparent;
  color: #202020;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-style: solid;
}

.span-icon {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

@font-face {
  font-family: BeauSans;
  src: url(../../../public/BT-BeauSans-ExtraBold-BF64d45953a17ee.ttf);
}

.BeauSans {
  font-family: BeauSans;
}

@font-face {
  font-family: BeauSansRegular;
  src: url(../../../public/BT-BeauSans-Regular-BF64d45952e54c1.ttf);
}

.BeauSansRegular {
  font-family: BeauSansRegular;
}

@font-face {
  font-family: monumentExtended;
  src: url(../../../public/MonumentExtended-Ultrabold.otf);
}

.monumentExtended {
  font-family: monumentExtended;
}

@media screen and (max-width: 1200px) {

  .intro {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 5%;
  }

  .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 30px;
  }

  .title {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 14px;
  }

  .customizer {
    padding: 15px 5%;
  }

  .customizer-body {
    width: 100%;
    height: 80%;
  }

  .color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(238, 238, 238);
  }

  .go-back-button {
    font-family: BeauSansRegular;
    padding: .8rem 3rem;
    background-color: transparent;
    color: #202020;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-style: solid;
  }
}

@media screen and (max-width: 600px) {

  .intro {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 5%;
  }

  .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 30px;
  }

  .title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 12px;
  }

  .customizer {
    padding: 15px 5%;
  }

  .customizer-body {
    width: 100%;
    height: 80%;
  }

  .color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(238, 238, 238);
  }

  .go-back-button {
    font-family: BeauSansRegular;
    padding: .8rem 3rem;
    background-color: transparent;
    color: #202020;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-style: solid;
  }
}